# WEREAL REOS OpenAPI 3.1 Specification
# Document: WEREAL-OPENAPI-2026-v1.0
# Source: Thiet-ke-API.md (WEREAL-API-2026-v1.0)
# Baseline: WEREAL-BL-2026-002
# Endpoints: 71 (Phase 1 MVP)
# Generated by scripts/generate-openapi.py — do not edit manually

openapi: 3.1.0
info:
  title: WEREAL REOS API
  version: 1.0.0
  description: 'REST API contract for WEREAL Real Estate Operating System — Phase 1 MVP.


    Generated from `Thiet-ke-API.md` (WEREAL-API-2026-v1.0).

    Baseline: WEREAL-BL-2026-002.


    71 endpoints across Identity, Golden Record, Listing, Search, CRM, Booking, Payment, Ledger, AI, Analytics, Audit, and
    Stream modules.'
  contact:
    name: WEREAL Platform Team
    email: platform@wereal.vn
  license:
    name: Proprietary
  x-document-id: WEREAL-API-2026-v1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
- url: https://api.wereal.vn/api/v1
  description: Production
- url: https://api.staging.wereal.vn/api/v1
  description: Staging
- url: http://localhost:3000/api/v1
  description: Local development
tags:
- name: Identity
  description: Auth, tenant, user, role — FR-ID-01→04
- name: GoldenRecord
  description: Project, building, unit GR — FR-GR-01→04
- name: Listing
  description: Marketing listing + moderation — FR-LS-01
- name: Search
  description: Public search + suggest — FR-LS-02
- name: CRM
  description: Lead, activity, pipeline — FR-CRM-01→05
- name: Booking
  description: Transaction state machine — FR-BK-01→04
- name: Payment
  description: PaymentIntent, webhook — FR-PAY-01→05
- name: Ledger
  description: Double-entry, reconciliation — FR-PAY-03,04
- name: AI
  description: Copilot, lead scoring — FR-AI-01→04
- name: Analytics
  description: KPI dashboard — FR-AN-01
- name: Audit
  description: Audit trail — FR-TR-01
- name: Stream
  description: SSE real-time — FR-GR-08
- name: Ops
  description: Staging ops console queues — OPS-S3-01
paths:
  /activities:
    get:
      tags:
      - CRM
      operationId: get_activities
      summary: 'API-047: GET /activities'
      description: '**API-047** | Module: CRM | FR: FR-CRM-04 | Auth: Agent'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: act_01
                  attributes:
                    type: CALL
                    summary: Gọi tư vấn lần 1
                    createdAt: '2026-07-28T16:00:00+07:00'
      x-wereal-api-id: API-047
      x-wereal-fr-link: FR-CRM-04
      security:
      - BearerAuth: []
    post:
      tags:
      - CRM
      operationId: post_activities
      summary: 'API-048: POST /activities'
      description: '**API-048** | Module: CRM | FR: FR-CRM-04 | Auth: Agent'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: act_01
                  attributes:
                    type: NOTE
      x-wereal-api-id: API-048
      x-wereal-fr-link: FR-CRM-04
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              leadId: ld_01
              type: NOTE
              summary: Khách quan tâm view sông
              metadata:
                duration: null
  /activities/{activityId}:
    get:
      tags:
      - CRM
      operationId: get_activities_activityId
      summary: 'API-049: GET /activities/{activityId}'
      description: '**API-049** | Module: CRM | FR: FR-CRM-04 | Auth: Agent'
      parameters:
      - name: activityId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (activityId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: act_01
                  attributes:
                    type: CALL
                    summary: '...'
      x-wereal-api-id: API-049
      x-wereal-fr-link: FR-CRM-04
      security:
      - BearerAuth: []
    patch:
      tags:
      - CRM
      operationId: patch_activities_activityId
      summary: 'API-050: PATCH /activities/{activityId}'
      description: '**API-050** | Module: CRM | FR: FR-CRM-04 | Auth: Agent (creator)'
      parameters:
      - name: activityId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (activityId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: act_01
      x-wereal-api-id: API-050
      x-wereal-fr-link: FR-CRM-04
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              summary: Updated note
    delete:
      tags:
      - CRM
      operationId: delete_activities_activityId
      summary: 'API-051: DELETE /activities/{activityId}'
      description: '**API-051** | Module: CRM | FR: FR-CRM-04 | Auth: Agent (creator) / Admin'
      parameters:
      - name: activityId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (activityId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '204':
          description: No Content
      x-wereal-api-id: API-051
      x-wereal-fr-link: FR-CRM-04
      security:
      - BearerAuth: []
  /ai/copilot/generate:
    post:
      tags:
      - AI
      operationId: post_ai_copilot_generate
      summary: 'API-067: POST /ai/copilot/generate'
      description: '**API-067** | Module: AI | FR: FR-AI-01,03,04, BR-06,16 | Auth: Agent'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ai_01
                  attributes:
                    content: Căn hộ 3 phòng ngủ...
                    disclaimer: Nội dung AI — cần agent duyệt trước publish
                    requiresApproval: true
                    latencyMs: 4200
        '403':
          $ref: '#/components/responses/ProblemDetails'
        '429':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-067
      x-wereal-fr-link: FR-AI-01,03,04, BR-06,16
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              listingId: ls_01
              unitId: un_01
              task: LISTING_DESCRIPTION
              tone: premium
              language: vi
              context:
                projectName: Vinhomes Q9
                bedrooms: 3
  /ai/leads/{leadId}/score:
    post:
      tags:
      - AI
      operationId: post_ai_leads_leadId_score
      summary: 'API-068: POST /ai/leads/{leadId}/score'
      description: '**API-068** | Module: AI | FR: FR-AI-02, BR-07, NFR-P06 | Auth: System / Agent'
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (leadId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  leadId: ld_01
                  attributes:
                    score: 85
                    tier: HOT
                    factors:
                    - name: budget_match
                      weight: 0.3
      x-wereal-api-id: API-068
      x-wereal-fr-link: FR-AI-02, BR-07, NFR-P06
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              force: false
  /analytics/dashboard/kpi:
    get:
      tags:
      - Analytics
      operationId: get_analytics_dashboard_kpi
      summary: 'API-069: GET /analytics/dashboard/kpi'
      description: '**API-069** | Module: Analytics | FR: FR-AN-01, US-AN-03 | Auth: Agency Admin / Platform Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  period: 30d
                  metrics:
                    leads: 120
                    hotLeads: 25
                    bookings: 18
                    deposits: 12
                    conversionRate: 0.1
                    gmv: 600000000
      x-wereal-api-id: API-069
      x-wereal-fr-link: FR-AN-01, US-AN-03
      security:
      - BearerAuth: []
  /audit-logs:
    get:
      tags:
      - Audit
      operationId: get_audit-logs
      summary: 'API-070: GET /audit-logs'
      description: '**API-070** | Module: Audit | FR: FR-TR-01,05, BR-08 | Auth: Ops / Platform Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: aud_01
                  attributes:
                    action: UNIT_PRICE_CHANGED
                    actorId: usr_dev
                    entityId: un_01
                    changes:
                      basePrice:
                        from: 3500000000
                        to: 3600000000
                    timestamp: '2026-07-28T10:00:00+07:00'
      x-wereal-api-id: API-070
      x-wereal-fr-link: FR-TR-01,05, BR-08
      security:
      - BearerAuth: []
  /auth/login:
    post:
      tags:
      - Identity
      operationId: post_auth_login
      summary: 'API-001: POST /auth/login'
      description: '**API-001** | Module: Identity | FR: FR-ID-01, US-ID-03 | Auth: Public (email + password). OPS-S2: `DEVELOPER_ADMIN` / `FINANCE_ADMIN` on tenants with `LIVE_RAILS.mfaSandbox=false` receive `{ mfaRequired, challengeId }` instead of JWT; complete via POST `/auth/mfa/verify`.'
      parameters:
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  accessToken: eyJ...
                  expiresIn: 900
                  refreshToken: rt_...
                  tokenType: Bearer
                  user:
                    id: usr_01
                    roles:
                    - AGENT
        '401':
          $ref: '#/components/responses/ProblemDetails'
        '423':
          $ref: '#/components/responses/ProblemDetails'
        '429':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-001
      x-wereal-fr-link: FR-ID-01, US-ID-03
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              email: agent@agency.vn
              password: string
              tenantId: ten_agy_01
  /auth/mfa/verify:
    post:
      tags:
      - Identity
      operationId: post_auth_mfa_verify
      summary: 'POST /auth/mfa/verify'
      description: 'UC-ID-03 step-up. Tenant `LIVE_RAILS.mfaSandbox` wins over `MFA_SANDBOX`. Demo OTP `123456` is rejected when sandbox is off. Login `challengeId` issues JWT after a valid TOTP.'
      parameters:
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Verified — tokens present when `challengeId` was supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  verified: true
                  mode: TOTP
                  accessToken: eyJ...
                  refreshToken: rt_...
                  tokenType: Bearer
        '401':
          $ref: '#/components/responses/ProblemDetails'
        '422':
          $ref: '#/components/responses/ProblemDetails'
        '429':
          $ref: '#/components/responses/ProblemDetails'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              mfaOtp: '123456'
              email: finance@thanglong-dev.vn
              challengeId: mfa_...
  /auth/logout:
    post:
      tags:
      - Identity
      operationId: post_auth_logout
      summary: 'API-003: POST /auth/logout'
      description: '**API-003** | Module: Identity | FR: FR-ID-01 | Auth: Bearer + Refresh token'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '204':
          description: No Content
      x-wereal-api-id: API-003
      x-wereal-fr-link: FR-ID-01
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              refreshToken: rt_01HABC...
  /auth/refresh:
    post:
      tags:
      - Identity
      operationId: post_auth_refresh
      summary: 'API-002: POST /auth/refresh'
      description: '**API-002** | Module: Identity | FR: FR-ID-01, NFR-S09 | Auth: Refresh token (cookie or body)'
      parameters:
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  accessToken: eyJ...
                  expiresIn: 900
                  refreshToken: rt_NEW...
        '401':
          $ref: '#/components/responses/ProblemDetails'
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-002
      x-wereal-fr-link: FR-ID-01, NFR-S09
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              refreshToken: rt_01HABC...
  /bookings:
    get:
      tags:
      - Booking
      operationId: get_bookings
      summary: 'API-053: GET /bookings'
      description: '**API-053** | Module: Booking | FR: FR-BK-01 | Auth: Agent'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: bk_01
                  attributes:
                    status: RESERVED
                    unitId: un_01
                    expiresAt: '2026-07-29T15:00:00+07:00'
      x-wereal-api-id: API-053
      x-wereal-fr-link: FR-BK-01
      security:
      - BearerAuth: []
    post:
      tags:
      - Booking
      operationId: post_bookings
      summary: 'API-054: POST /bookings'
      description: '**API-054** | Module: Booking | FR: FR-BK-01,02, BR-03 | Auth: Agent'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: bk_01
                  attributes:
                    status: RESERVED
                    expiresAt: '2026-07-29T15:00:00+07:00'
                    lockId: lock_01
        '409':
          $ref: '#/components/responses/ProblemDetails'
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-054
      x-wereal-fr-link: FR-BK-01,02, BR-03
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              unitId: un_01
              leadId: ld_01
              expiryHours: 48
              depositAmount: 50000000
              notes: Khách VIP gallery
  /bookings/{bookingId}:
    get:
      tags:
      - Booking
      operationId: get_bookings_bookingId
      summary: 'API-055: GET /bookings/{bookingId}'
      description: '**API-055** | Module: Booking | FR: FR-BK-03 | Auth: Agent / Buyer (linked)'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (bookingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: bk_01
                  attributes:
                    status: DEPOSIT_PENDING
                    allowedTransitions:
                    - CANCEL
                    - CREATE_PAYMENT
      x-wereal-api-id: API-055
      x-wereal-fr-link: FR-BK-03
      security:
      - BearerAuth: []
    patch:
      tags:
      - Booking
      operationId: patch_bookings_bookingId
      summary: 'API-056: PATCH /bookings/{bookingId}'
      description: '**API-056** | Module: Booking | FR: FR-BK-03 | Auth: Agent'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (bookingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: bk_01
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-056
      x-wereal-fr-link: FR-BK-03
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              notes: Khách confirm pay T8
              expiryHours: 24
    delete:
      tags:
      - Booking
      operationId: delete_bookings_bookingId
      summary: 'API-057: DELETE /bookings/{bookingId}'
      description: '**API-057** | Module: Booking | FR: FR-BK-07, BR-22 | Auth: Agent / Ops'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (bookingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: bk_01
                  attributes:
                    status: CANCELLED
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-057
      x-wereal-fr-link: FR-BK-07, BR-22
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              reason: Khách hủy
              initiateRefund: true
  /bookings/{bookingId}/events:
    get:
      tags:
      - Booking
      operationId: get_bookings_bookingId_events
      summary: 'API-060: GET /bookings/{bookingId}/events'
      description: '**API-060** | Module: Booking | FR: FR-BK-04, FR-TR-01 | Auth: Ops Admin'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (bookingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - eventId: evt_01
                  type: InventoryLocked
                  payload: {}
                  occurredAt: '2026-07-28T15:00:01+07:00'
      x-wereal-api-id: API-060
      x-wereal-fr-link: FR-BK-04, FR-TR-01
      security:
      - BearerAuth: []
  /bookings/{bookingId}/timeline:
    get:
      tags:
      - Booking
      operationId: get_bookings_bookingId_timeline
      summary: 'API-059: GET /bookings/{bookingId}/timeline'
      description: '**API-059** | Module: Booking | FR: FR-BK-04, BR-08 | Auth: Agent / Ops'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (bookingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - timestamp: '2026-07-28T15:00:00+07:00'
                  event: BookingCreated
                  actor: usr_agent
                  description: Giữ chỗ căn A-12-05
      x-wereal-api-id: API-059
      x-wereal-fr-link: FR-BK-04, BR-08
      security:
      - BearerAuth: []
  /bookings/{bookingId}/transitions:
    post:
      tags:
      - Booking
      operationId: post_bookings_bookingId_transitions
      summary: 'API-058: POST /bookings/{bookingId}/transitions'
      description: '**API-058** | Module: Booking | FR: FR-BK-03, US-BK-07 | Auth: Agent / System'
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (bookingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: bk_01
                  attributes:
                    status: DEPOSIT_PENDING
                    previousStatus: RESERVED
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-058
      x-wereal-fr-link: FR-BK-03, US-BK-07
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              transition: CREATE_PAYMENT
              metadata:
                paymentIntentId: pi_01
  /buildings:
    get:
      tags:
      - GoldenRecord
      operationId: get_buildings
      summary: 'API-019: GET /buildings'
      description: '**API-019** | Module: Golden Record | FR: FR-GR-01 | Auth: Authenticated'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: bld_A
                  attributes:
                    name: Block A
                    floors: 35
      x-wereal-api-id: API-019
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
    post:
      tags:
      - GoldenRecord
      operationId: post_buildings
      summary: 'API-020: POST /buildings'
      description: '**API-020** | Module: Golden Record | FR: FR-GR-01 | Auth: Developer Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: bld_A
                  attributes:
                    name: Block A
      x-wereal-api-id: API-020
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              projectId: prj_01
              name: Block A
              code: A
              floors: 35
  /buildings/{buildingId}:
    get:
      tags:
      - GoldenRecord
      operationId: get_buildings_buildingId
      summary: 'API-021: GET /buildings/{buildingId}'
      description: '**API-021** | Module: Golden Record | FR: FR-GR-01 | Auth: Authenticated'
      parameters:
      - name: buildingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (buildingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: bld_A
                  attributes:
                    availableUnits: 45
                    totalUnits: 200
      x-wereal-api-id: API-021
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
    patch:
      tags:
      - GoldenRecord
      operationId: patch_buildings_buildingId
      summary: 'API-022: PATCH /buildings/{buildingId}'
      description: '**API-022** | Module: Golden Record | FR: FR-GR-01 | Auth: Developer Admin'
      parameters:
      - name: buildingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (buildingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: bld_A
      x-wereal-api-id: API-022
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              name: Block A - Tower 1
    delete:
      tags:
      - GoldenRecord
      operationId: delete_buildings_buildingId
      summary: 'API-023: DELETE /buildings/{buildingId}'
      description: '**API-023** | Module: Golden Record | FR: FR-GR-01 | Auth: Developer Admin'
      parameters:
      - name: buildingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (buildingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '204':
          description: No Content
      x-wereal-api-id: API-023
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
  /crm/pipeline:
    get:
      tags:
      - CRM
      operationId: get_crm_pipeline
      summary: 'API-052: GET /crm/pipeline'
      description: '**API-052** | Module: CRM | FR: FR-CRM-05 | Auth: Agent / Agency Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  stages:
                  - code: NEW
                    count: 12
                    leads:
                    - id: ld_01
                      tier: HOT
                  - code: QUALIFIED
                    count: 8
      x-wereal-api-id: API-052
      x-wereal-fr-link: FR-CRM-05
      security:
      - BearerAuth: []
  /health/ops:
    get:
      tags:
      - Ops
      operationId: get_health_ops
      summary: 'OPS-S3-01: GET /health/ops'
      description: 'Authenticated twin of GET /ops/console. JWT required — not a public liveness probe. Four widgets: stuck payment, lock TTL, drift BLOCK, reconcile mismatch.'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Ops console snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  healthy: true
                  widgets:
                  - id: stuckPayments
                    title: Stuck payment
                    count: 0
                    severity: ok
                    deepLink: /admin/payment-gateways
                    runbookAnchor: stuck-payment
                  - id: lockTtl
                    title: Lock TTL
                    count: 0
                  - id: driftBlock
                    title: Drift BLOCK
                    count: 0
                  - id: reconcileMismatch
                    title: Reconcile mismatch
                    count: 0
        '401':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-OPS-S3-01B
      x-wereal-fr-link: OPS-S3-01
      security:
      - BearerAuth: []
  /leads:
    get:
      tags:
      - CRM
      operationId: get_leads
      summary: 'API-041: GET /leads'
      description: '**API-041** | Module: CRM | FR: FR-CRM-01,03 | Auth: Agent / Agency Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: ld_01
                  attributes:
                    fullName: Thu Trang
                    phone: +849***
                    score: 85
                    tier: HOT
                    source: PUBLIC_FORM
      x-wereal-api-id: API-041
      x-wereal-fr-link: FR-CRM-01,03
    post:
      tags:
      - CRM
      operationId: post_leads
      summary: 'API-042: POST /leads'
      description: '**API-042** | Module: CRM | FR: FR-CRM-01, BR-15, NFR-C03 | Auth: Public (lead form) / Agent'
      parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ld_01
                  attributes:
                    status: NEW
                    score: null
                    routingStatus: PENDING
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-042
      x-wereal-fr-link: FR-CRM-01, BR-15, NFR-C03
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              fullName: Nguyễn Thu Trang
              phone: '+84901234567'
              email: trang@gmail.com
              listingId: ls_01
              unitId: un_01
              message: Muốn xem căn 3PN
              consent:
                marketing: true
                privacyPolicyVersion: '2026-07-01'
              utm:
                source: google
                campaign: q7_launch
  /leads/{leadId}:
    get:
      tags:
      - CRM
      operationId: get_leads_leadId
      summary: 'API-043: GET /leads/{leadId}'
      description: '**API-043** | Module: CRM | FR: FR-CRM-02 | Auth: Agent (assigned)'
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (leadId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ld_01
                  relationships:
                    unit:
                      data:
                        id: un_01
                    activities:
                      meta:
                        count: 5
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-043
      x-wereal-fr-link: FR-CRM-02
      security:
      - BearerAuth: []
    patch:
      tags:
      - CRM
      operationId: patch_leads_leadId
      summary: 'API-044: PATCH /leads/{leadId}'
      description: '**API-044** | Module: CRM | FR: FR-CRM-05 | Auth: Agent'
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (leadId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ld_01
                  attributes:
                    stage: QUALIFIED
      x-wereal-api-id: API-044
      x-wereal-fr-link: FR-CRM-05
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              stage: QUALIFIED
              notes: Khách có nhu cầu mua trong T8
              tags:
              - VIP
    delete:
      tags:
      - CRM
      operationId: delete_leads_leadId
      summary: 'API-045: DELETE /leads/{leadId}'
      description: '**API-045** | Module: CRM | FR: FR-CRM-01 | Auth: Agency Admin'
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (leadId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '204':
          description: No Content
      x-wereal-api-id: API-045
      x-wereal-fr-link: FR-CRM-01
      security:
      - BearerAuth: []
  /leads/{leadId}/assign:
    post:
      tags:
      - CRM
      operationId: post_leads_leadId_assign
      summary: 'API-046: POST /leads/{leadId}/assign'
      description: '**API-046** | Module: CRM | FR: FR-CRM-03, BR-07 | Auth: Agency Admin / System'
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (leadId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ld_01
                  attributes:
                    assignedTo: usr_agent_01
                    assignedAt: '2026-07-28T15:00:00+07:00'
      x-wereal-api-id: API-046
      x-wereal-fr-link: FR-CRM-03, BR-07
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              assigneeId: usr_agent_01
              reason: Round-robin
              notify: true
  /ledger/entries:
    get:
      tags:
      - Ledger
      operationId: get_ledger_entries
      summary: 'API-065: GET /ledger/entries'
      description: '**API-065** | Module: Ledger | FR: FR-PAY-03, BR-18 | Auth: Finance Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: le_01
                  attributes:
                    debitAccount: CASH_VNPAY
                    creditAccount: DEPOSIT_LIABILITY
                    amount: 50000000
                    reference: pay_01
      x-wereal-api-id: API-065
      x-wereal-fr-link: FR-PAY-03, BR-18
      security:
      - BearerAuth: []
  /ledger/reconciliation:
    get:
      tags:
      - Ledger
      operationId: get_ledger_reconciliation
      summary: 'API-066: GET /ledger/reconciliation'
      description: '**API-066** | Module: Ledger | FR: FR-PAY-04, BR-04, NFR-O03 | Auth: Finance Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  date: '2026-07-28'
                  attributes:
                    status: MATCHED
                    gatewayTotal: 500000000
                    ledgerTotal: 500000000
                    discrepancies: []
      x-wereal-api-id: API-066
      x-wereal-fr-link: FR-PAY-04, BR-04, NFR-O03
      security:
      - BearerAuth: []
  /listings:
    get:
      tags:
      - Listing
      operationId: get_listings
      summary: 'API-031: GET /listings'
      description: '**API-031** | Module: Listing | FR: FR-LS-01 | Auth: Agent / Ops'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: ls_01
                  attributes:
                    title: Căn 3PN view sông
                    status: PUBLISHED
                    unitId: un_01
                    verified: true
      x-wereal-api-id: API-031
      x-wereal-fr-link: FR-LS-01
      security:
      - BearerAuth: []
    post:
      tags:
      - Listing
      operationId: post_listings
      summary: 'API-032: POST /listings'
      description: '**API-032** | Module: Listing | FR: FR-LS-01, FR-GR-03, FR-AI-01 | Auth: Agent'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ls_01
                  attributes:
                    status: DRAFT
                    antiDriftStatus: PASS
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-032
      x-wereal-fr-link: FR-LS-01, FR-GR-03, FR-AI-01
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              unitId: un_01
              title: Căn 3PN premium
              description: '...'
              highlights:
              - View sông
              - Nội thất cao cấp
              mediaIds:
              - med_01
  /listings/{listingId}:
    get:
      tags:
      - Listing
      operationId: get_listings_listingId
      summary: 'API-033: GET /listings/{listingId}'
      description: '**API-033** | Module: Listing | FR: FR-LS-01, FR-LS-05 | Auth: Authenticated / Public'
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (listingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ls_01
                  attributes:
                    title: Căn 3PN
                    verified: true
                    unit:
                      code: A-12-05
                      basePrice: 3500000000
      x-wereal-api-id: API-033
      x-wereal-fr-link: FR-LS-01, FR-LS-05
      security:
      - BearerAuth: []
    patch:
      tags:
      - Listing
      operationId: patch_listings_listingId
      summary: 'API-034: PATCH /listings/{listingId}'
      description: '**API-034** | Module: Listing | FR: FR-LS-01, FR-GR-04 | Auth: Agent (owner)'
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (listingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ls_01
                  attributes:
                    antiDriftStatus: PASS
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-034
      x-wereal-fr-link: FR-LS-01, FR-GR-04
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              description: Updated copy
              highlights:
              - Gần metro
    delete:
      tags:
      - Listing
      operationId: delete_listings_listingId
      summary: 'API-035: DELETE /listings/{listingId}'
      description: '**API-035** | Module: Listing | FR: FR-LS-01 | Auth: Agent / Admin'
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (listingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '204':
          description: No Content
      x-wereal-api-id: API-035
      x-wereal-fr-link: FR-LS-01
      security:
      - BearerAuth: []
  /listings/{listingId}/approve:
    patch:
      tags:
      - Listing
      operationId: patch_listings_listingId_approve
      summary: 'API-037: PATCH /listings/{listingId}/approve'
      description: '**API-037** | Module: Listing | FR: FR-LS-01, BR-09 | Auth: Ops Admin'
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (listingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ls_01
                  attributes:
                    status: PUBLISHED
                    verified: true
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-037
      x-wereal-fr-link: FR-LS-01, BR-09
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              note: Approved
  /listings/{listingId}/reject:
    patch:
      tags:
      - Listing
      operationId: patch_listings_listingId_reject
      summary: 'API-038: PATCH /listings/{listingId}/reject'
      description: '**API-038** | Module: Listing | FR: FR-LS-01 | Auth: Ops Admin'
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (listingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ls_01
                  attributes:
                    status: REJECTED
      x-wereal-api-id: API-038
      x-wereal-fr-link: FR-LS-01
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              reason: Ảnh không đạt chất lượng
              code: MEDIA_QUALITY
  /listings/{listingId}/submit-review:
    post:
      tags:
      - Listing
      operationId: post_listings_listingId_submit-review
      summary: 'API-036: POST /listings/{listingId}/submit-review'
      description: '**API-036** | Module: Listing | FR: FR-LS-01, BR-09, FR-AI-04 | Auth: Agent'
      parameters:
      - name: listingId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (listingId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ls_01
                  attributes:
                    status: PENDING_REVIEW
                    submittedAt: '2026-07-28T14:00:00+07:00'
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-036
      x-wereal-fr-link: FR-LS-01, BR-09, FR-AI-04
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              note: Sẵn sàng publish
  /ops/console:
    get:
      tags:
      - Ops
      operationId: get_ops_console
      summary: 'OPS-S3-01: GET /ops/console'
      description: 'JWT ops snapshot for `/admin/ops`. Widgets deep-link to payment gateways, booking replay, moderation, finance reconciliation. Runbook `docs/runbooks/ops-console.md`.'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Ops console snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  healthy: false
                  widgets:
                  - id: stuckPayments
                    title: Stuck payment
                    count: 1
                    severity: warn
                    deepLink: /admin/payment-gateways
                    runbook: /docs/runbooks/ops-console.md
                    runbookAnchor: stuck-payment
        '401':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-OPS-S3-01A
      x-wereal-fr-link: OPS-S3-01
      security:
      - BearerAuth: []
  /payment-intents:
    post:
      tags:
      - Payment
      operationId: post_payment-intents
      summary: 'API-061: POST /payment-intents'
      description: '**API-061** | Module: Payment | FR: FR-PAY-01,02,05, BR-02 | Auth: Agent / Buyer'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: pi_01
                  attributes:
                    status: PENDING
                    paymentUrl: https://pay.vnpay.vn/...
                    expiresAt: '2026-07-28T16:00:00+07:00'
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-061
      x-wereal-fr-link: FR-PAY-01,02,05, BR-02
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              bookingId: bk_01
              amount: 50000000
              currency: VND
              method: VNPAY
              returnUrl: https://portal.wereal.vn/payment/result
  /payments:
    get:
      tags:
      - Payment
      operationId: get_payments
      summary: 'API-062: GET /payments'
      description: '**API-062** | Module: Payment | FR: FR-PAY-02 | Auth: Finance / Agent'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: pay_01
                  attributes:
                    amount: 50000000
                    status: SUCCEEDED
                    gatewayRef: VNPAY_123
      x-wereal-api-id: API-062
      x-wereal-fr-link: FR-PAY-02
      security:
      - BearerAuth: []
  /payments/{paymentId}:
    get:
      tags:
      - Payment
      operationId: get_payments_paymentId
      summary: 'API-063: GET /payments/{paymentId}'
      description: '**API-063** | Module: Payment | FR: FR-PAY-02 | Auth: Finance / Agent'
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (paymentId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: pay_01
                  attributes:
                    status: SUCCEEDED
                    receiptUrl: https://...
      x-wereal-api-id: API-063
      x-wereal-fr-link: FR-PAY-02
      security:
      - BearerAuth: []
  /projects:
    get:
      tags:
      - GoldenRecord
      operationId: get_projects
      summary: 'API-014: GET /projects'
      description: '**API-014** | Module: Golden Record | FR: FR-GR-01 | Auth: Authenticated (Dev R, Agent R scoped)'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: prj_01
                  attributes:
                    name: Vinhomes Q9
                    city: HCM
                    status: ACTIVE
                    totalUnits: 1200
      x-wereal-api-id: API-014
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
    post:
      tags:
      - GoldenRecord
      operationId: post_projects
      summary: 'API-015: POST /projects'
      description: '**API-015** | Module: Golden Record | FR: FR-GR-01, BR-01 | Auth: Developer Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: prj_01
                  attributes:
                    name: Vinhomes Q9
                    status: DRAFT
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-015
      x-wereal-fr-link: FR-GR-01, BR-01
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              name: Vinhomes Q9
              code: VH-Q9
              address:
                city: HCM
                district: Q9
              developerId: dev_01
  /projects/{projectId}:
    get:
      tags:
      - GoldenRecord
      operationId: get_projects_projectId
      summary: 'API-016: GET /projects/{projectId}'
      description: '**API-016** | Module: Golden Record | FR: FR-GR-01 | Auth: Authenticated'
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (projectId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: prj_01
                  relationships:
                    buildings:
                      data:
                      - id: bld_A
                        type: building
      x-wereal-api-id: API-016
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
    patch:
      tags:
      - GoldenRecord
      operationId: patch_projects_projectId
      summary: 'API-017: PATCH /projects/{projectId}'
      description: '**API-017** | Module: Golden Record | FR: FR-GR-01 | Auth: Developer Admin'
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (projectId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: prj_01
                  attributes:
                    status: ACTIVE
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-017
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              name: Vinhomes Q9 Updated
              status: ACTIVE
    delete:
      tags:
      - GoldenRecord
      operationId: delete_projects_projectId
      summary: 'API-018: DELETE /projects/{projectId}'
      description: '**API-018** | Module: Golden Record | FR: FR-GR-01 | Auth: Developer Admin'
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (projectId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '204':
          description: No Content
      x-wereal-api-id: API-018
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
  /roles:
    get:
      tags:
      - Identity
      operationId: get_roles
      summary: 'API-012: GET /roles'
      description: '**API-012** | Module: Identity | FR: FR-ID-02 | Auth: Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: role_agent
                  attributes:
                    code: AGENT
                    permissions:
                    - listings:write
                    - leads:write
      x-wereal-api-id: API-012
      x-wereal-fr-link: FR-ID-02
      security:
      - BearerAuth: []
    post:
      tags:
      - Identity
      operationId: post_roles
      summary: 'API-013: POST /roles'
      description: '**API-013** | Module: Identity | FR: FR-ID-02 | Auth: Platform Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: role_custom
                  attributes:
                    code: CUSTOM_ROLE
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-013
      x-wereal-fr-link: FR-ID-02
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              code: CUSTOM_ROLE
              permissions:
              - listings:read
  /search/suggest:
    get:
      tags:
      - Search
      operationId: get_search_suggest
      summary: 'API-040: GET /search/suggest'
      description: '**API-040** | Module: Search | FR: FR-LS-02 | Auth: Public'
      parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - type: project
                  label: Vinhomes Grand Park
                  id: prj_01
      x-wereal-api-id: API-040
      x-wereal-fr-link: FR-LS-02
  /search/units:
    get:
      tags:
      - Search
      operationId: get_search_units
      summary: 'API-039: GET /search/units'
      description: '**API-039** | Module: Search | FR: FR-LS-02,06, NFR-P03 | Auth: Public (Guest)'
      parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: un_01
                  attributes:
                    code: A-12-05
                    projectName: Vinhomes Q9
                    basePrice: 3500000000
                    verified: true
                    thumbnailUrl: https://...
                meta:
                  facets:
                    bedrooms:
                    - value: 3
                      count: 45
      x-wereal-api-id: API-039
      x-wereal-fr-link: FR-LS-02,06, NFR-P03
  /stream/units:
    get:
      tags:
      - Stream
      operationId: get_stream_units
      summary: 'API-071: GET /stream/units'
      description: '**API-071** | Module: SSE | FR: FR-GR-08, NFR-P04, UC-GR-07 | Auth: Authenticated (SSE)'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                description: 'event: unit.status.changed

                  data: {"unitId":"un_01","status":"RESERVED","timestamp":"2026-07-28T15:00:00+07:00"}'
      x-wereal-api-id: API-071
      x-wereal-fr-link: FR-GR-08, NFR-P04, UC-GR-07
  /tenants:
    get:
      tags:
      - Identity
      operationId: get_tenants
      summary: 'API-004: GET /tenants'
      description: '**API-004** | Module: Identity | FR: FR-ID-01, US-ID-01,02 | Auth: Platform Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: ten_dev_01
                  type: tenant
                  attributes:
                    name: Vinhomes Pilot
                    type: DEVELOPER
                    status: ACTIVE
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-004
      x-wereal-fr-link: FR-ID-01, US-ID-01,02
      security:
      - BearerAuth: []
    post:
      tags:
      - Identity
      operationId: post_tenants
      summary: 'API-005: POST /tenants'
      description: '**API-005** | Module: Identity | FR: FR-ID-01, UC-ID-01 | Auth: Platform Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ten_agy_01
                  type: tenant
                  attributes:
                    name: Agency Pilot ABC
                    status: PENDING_SETUP
        '409':
          $ref: '#/components/responses/ProblemDetails'
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-005
      x-wereal-fr-link: FR-ID-01, UC-ID-01
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              name: Agency Pilot ABC
              type: AGENCY
              slug: agency-abc
              adminEmail: admin@abc.vn
              settings:
                timezone: Asia/Ho_Chi_Minh
                locale: vi-VN
  /tenants/{tenantId}:
    get:
      tags:
      - Identity
      operationId: get_tenants_tenantId
      summary: 'API-006: GET /tenants/{tenantId}'
      description: '**API-006** | Module: Identity | FR: FR-ID-01 | Auth: Platform Admin / Tenant Admin'
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (tenantId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ten_dev_01
                  attributes:
                    name: Dev Pilot
                    type: DEVELOPER
                    status: ACTIVE
        '404':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-006
      x-wereal-fr-link: FR-ID-01
      security:
      - BearerAuth: []
    patch:
      tags:
      - Identity
      operationId: patch_tenants_tenantId
      summary: 'API-007: PATCH /tenants/{tenantId}'
      description: '**API-007** | Module: Identity | FR: FR-ID-01 | Auth: Platform Admin'
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (tenantId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: ten_dev_01
                  attributes:
                    status: ACTIVE
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-007
      x-wereal-fr-link: FR-ID-01
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              status: ACTIVE
              settings:
                bookingExpiryHours: 48
  /units:
    get:
      tags:
      - GoldenRecord
      operationId: get_units
      summary: 'API-024: GET /units'
      description: '**API-024** | Module: Golden Record | FR: FR-GR-01,08 | Auth: Authenticated'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: un_01
                  attributes:
                    code: A-12-05
                    status: AVAILABLE
                    basePrice: 3500000000
                    area: 85.5
                    bedrooms: 3
      x-wereal-api-id: API-024
      x-wereal-fr-link: FR-GR-01,08
      security:
      - BearerAuth: []
    post:
      tags:
      - GoldenRecord
      operationId: post_units
      summary: 'API-025: POST /units'
      description: '**API-025** | Module: Golden Record | FR: FR-GR-01,02 | Auth: Developer Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: un_01
                  attributes:
                    code: A-12-05
                    version: 1
      x-wereal-api-id: API-025
      x-wereal-fr-link: FR-GR-01,02
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              buildingId: bld_A
              code: A-12-05
              floor: 12
              area: 85.5
              bedrooms: 3
              basePrice: 3500000000
              currency: VND
              status: AVAILABLE
  /units/import:
    post:
      tags:
      - GoldenRecord
      operationId: post_units_import
      summary: 'API-030: POST /units/import'
      description: '**API-030** | Module: Golden Record | FR: FR-GR-01, US-GR-11 | Auth: Developer Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  jobId: imp_01
                  attributes:
                    status: PROCESSING
                    accepted: 98
                    rejected: 2
                    errors:
                    - row: 5
                      code: DUPLICATE_CODE
        '422':
          $ref: '#/components/responses/ProblemDetails'
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      x-wereal-api-id: API-030
      x-wereal-fr-link: FR-GR-01, US-GR-11
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              projectId: prj_01
              dryRun: false
              units:
              - code: A-01-01
                floor: 1
                area: 50
                basePrice: 2000000000
  /units/{unitId}:
    get:
      tags:
      - GoldenRecord
      operationId: get_units_unitId
      summary: 'API-026: GET /units/{unitId}'
      description: '**API-026** | Module: Golden Record | FR: FR-GR-01, FR-LS-05 | Auth: Authenticated / Public (published)'
      parameters:
      - name: unitId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (unitId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: un_01
                  attributes:
                    code: A-12-05
                    status: AVAILABLE
                    basePrice: 3500000000
                    priceVersion: 3
                    verified: true
      x-wereal-api-id: API-026
      x-wereal-fr-link: FR-GR-01, FR-LS-05
      security:
      - BearerAuth: []
    patch:
      tags:
      - GoldenRecord
      operationId: patch_units_unitId
      summary: 'API-027: PATCH /units/{unitId}'
      description: '**API-027** | Module: Golden Record | FR: FR-GR-01,02,04 | Auth: Developer Admin'
      parameters:
      - name: unitId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (unitId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: un_01
                  attributes:
                    basePrice: 3600000000
                    priceVersion: 4
        '403':
          $ref: '#/components/responses/ProblemDetails'
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-027
      x-wereal-fr-link: FR-GR-01,02,04
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              basePrice: 3600000000
              status: AVAILABLE
              reason: Price adjustment Block A
    delete:
      tags:
      - GoldenRecord
      operationId: delete_units_unitId
      summary: 'API-028: DELETE /units/{unitId}'
      description: '**API-028** | Module: Golden Record | FR: FR-GR-01 | Auth: Developer Admin'
      parameters:
      - name: unitId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (unitId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '204':
          description: No Content
      x-wereal-api-id: API-028
      x-wereal-fr-link: FR-GR-01
      security:
      - BearerAuth: []
  /units/{unitId}/versions:
    get:
      tags:
      - GoldenRecord
      operationId: get_units_unitId_versions
      summary: 'API-029: GET /units/{unitId}/versions'
      description: '**API-029** | Module: Golden Record | FR: FR-GR-02, UC-GR-05(P2) | Auth: Developer Admin / Ops'
      parameters:
      - name: unitId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (unitId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - version: 4
                  attributes:
                    basePrice: 3600000000
                    changedAt: '2026-07-28T10:00:00+07:00'
                    changedBy: usr_dev
      x-wereal-api-id: API-029
      x-wereal-fr-link: FR-GR-02, UC-GR-05(P2)
      security:
      - BearerAuth: []
  /users:
    get:
      tags:
      - Identity
      operationId: get_users
      summary: 'API-008: GET /users'
      description: '**API-008** | Module: Identity | FR: FR-ID-02, US-ID-08 | Auth: Agency/Developer Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                - id: usr_01
                  attributes:
                    email: nam@agency.vn
                    fullName: Hoàng Nam
                    roles:
                    - AGENT
                    status: ACTIVE
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-008
      x-wereal-fr-link: FR-ID-02, US-ID-08
      security:
      - BearerAuth: []
    post:
      tags:
      - Identity
      operationId: post_users
      summary: 'API-009: POST /users'
      description: '**API-009** | Module: Identity | FR: FR-ID-02 | Auth: Agency/Developer Admin'
      parameters:
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: usr_new
                  attributes:
                    status: INVITED
        '409':
          $ref: '#/components/responses/ProblemDetails'
        '422':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-009
      x-wereal-fr-link: FR-ID-02
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              email: newagent@agency.vn
              fullName: Nguyễn Văn A
              roles:
              - AGENT
              scope:
                projectIds:
                - prj_01
  /users/{userId}:
    get:
      tags:
      - Identity
      operationId: get_users_userId
      summary: 'API-010: GET /users/{userId}'
      description: '**API-010** | Module: Identity | FR: FR-ID-02 | Auth: Admin / Self'
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (userId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: usr_01
                  attributes:
                    email: nam@agency.vn
                    roles:
                    - AGENT
        '403':
          $ref: '#/components/responses/ProblemDetails'
        '404':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-010
      x-wereal-fr-link: FR-ID-02
      security:
      - BearerAuth: []
    patch:
      tags:
      - Identity
      operationId: patch_users_userId
      summary: 'API-011: PATCH /users/{userId}'
      description: '**API-011** | Module: Identity | FR: FR-ID-02 | Auth: Admin / Self (limited)'
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: Resource identifier (userId)
      - $ref: '#/components/parameters/XTenantId'
      - $ref: '#/components/parameters/XRequestId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                data:
                  id: usr_01
                  attributes:
                    fullName: Hoàng Nam
        '403':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-011
      x-wereal-fr-link: FR-ID-02
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              fullName: Hoàng Nam
              phone: '+84901234567'
              status: ACTIVE
  /webhooks/payment:
    post:
      tags:
      - Payment
      operationId: post_webhooks_payment
      summary: 'API-064: POST /webhooks/payment'
      description: '**API-064** | Module: Payment | FR: FR-PAY-04, BR-21, NFR-P07 | Auth: Internal (Gateway IP allowlist +
        HMAC)'
      parameters:
      - $ref: '#/components/parameters/XRequestId'
      - $ref: '#/components/parameters/XIdempotencyKey'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                received: true
                processed: true
                ledgerEntryId: le_01
        '401':
          $ref: '#/components/responses/ProblemDetails'
        '409':
          $ref: '#/components/responses/ProblemDetails'
      x-wereal-api-id: API-064
      x-wereal-fr-link: FR-PAY-04, BR-21, NFR-P07
      security:
      - WebhookHmac: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
            example:
              eventId: vnp_12345
              eventType: payment.success
              transactionId: VNPAY_TXN_001
              amount: 50000000
              paymentIntentId: pi_01
              timestamp: '2026-07-28T15:30:00+07:00'
              signature: hmac...
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token (TTL 15 minutes). Requires X-Tenant-Id header.
    RefreshToken:
      type: apiKey
      in: header
      name: X-Refresh-Token
      description: Refresh token (also accepted in request body or httpOnly cookie).
    WebhookHmac:
      type: apiKey
      in: header
      name: X-Signature
      description: HMAC-SHA256 signature + gateway IP allowlist.
  parameters:
    XTenantId:
      name: X-Tenant-Id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Tenant context for RLS isolation (FR-ID-03).
    XRequestId:
      name: X-Request-Id
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: Trace correlation ID (NFR-O01).
    XIdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Idempotency key for safe retries (TTL 24h).
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Cursor for pagination.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Page size (max 100).
  schemas:
    ApiResponse:
      type: object
      required:
      - data
      properties:
        data:
          oneOf:
          - $ref: '#/components/schemas/Resource'
          - type: array
            items:
              $ref: '#/components/schemas/Resource'
          - type: object
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    Resource:
      type: object
      required:
      - id
      - type
      properties:
        id:
          type: string
          description: Prefixed ULID (un_, ls_, bk_, ld_)
        type:
          type: string
        attributes:
          type: object
          additionalProperties: true
        relationships:
          type: object
          additionalProperties: true
    ResponseMeta:
      type: object
      properties:
        requestId:
          type: string
        timestamp:
          type: string
          format: date-time
        page:
          $ref: '#/components/schemas/PageMeta'
    PageMeta:
      type: object
      properties:
        cursor:
          type:
          - string
          - 'null'
        nextCursor:
          type:
          - string
          - 'null'
        hasMore:
          type: boolean
        limit:
          type: integer
        number:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
    ProblemDetails:
      type: object
      description: RFC 7807 Problem Details
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        traceId:
          type: string
          format: uuid
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              code:
                type: string
              message:
                type: string
    LoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        tenantId:
          type: string
    RefreshTokenRequest:
      type: object
      required:
      - refreshToken
      properties:
        refreshToken:
          type: string
    WebhookAckResponse:
      type: object
      properties:
        received:
          type: boolean
        processed:
          type: boolean
        ledgerEntryId:
          type: string
    GenericObject:
      type: object
      additionalProperties: true
  responses:
    ProblemDetails:
      description: Error response (RFC 7807)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
x-endpoint-count: 71
x-generated-from: Thiet-ke-API.md
